# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Model backups
models/backups/

# Data
data/processed/
data/synthetic/
*.csv

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db